* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(243, 243, 243);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fafafa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.profile {
  position: relative;
  text-align: center;
  font-size: 1.125rem;
}

.profile-image {
  border-radius: 50%;
}

.profile-name {
  color: #214493;
  font-size: 2rem;
}

.profile-separator {
  max-width: 25rem;
  margin: 1.25rem auto;
  border-top: 2px solid #f8cb46;
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.profile-info > .profile-info-item:not(:first-child) {
  border-left: 2px solid #979797;
  padding-left: 1em;
  margin-left: 1em;
}

.profile-details {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 1.5rem 0;
  justify-content: center;
}

.profile-details-item {
  margin: 5px 0;
}

.profile-details-item .icon {
  font-size: 1.3rem;
  color: #214493;
  margin-right: 10px;
}

.profile-details > .profile-details-item:first-child,
.profile-details > .profile-details-item:last-child {
  width: 100%;
}

.profile-details > .profile-details-item:nth-child(3) {
  margin-left: 15px;
}

.section-separator {
  margin-top: 50px;
}

.section {
  margin-top: 50px;
}

.section-title .icon {
  color: #214493;
  margin-right: 10px;
}

.experience {
  margin-top: 30px;
  margin-left: 30px;
}

.experience-title {
  font-size: 1.3rem;
  color: #214493;
}

.experience-date {
  color: #a8a8a8;
}

.experience-desc {
  margin-top: 20px;
}

.experience-desc ul {
  list-style: inside;
}

.experience-subtitle, .experience-date, .experience-desc {
  margin-left: 30px;
}